<br>
<br>
<br>
<br>
<h1 class="blog-header">SEETHRU Blog</h1>
<!--/////////////////////////////Fill In Text Until Blog Is Wrote///////////////////////////////////////////////////////-->
<div class="blog-body">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<h3 class="blog-post-numb">Blog Post 2</h3> 	
			<h3 class="blog-date">Date: October 2, 2017</h3>
			<h4 class="blog-title">Title: SeeThru: The Decentralized Solution to Healthcare</h4>
		</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3">
				<p>Fixing U.S. Healthcare requires a stepwise process. While the most compelling, mission-driven solutions are on the patient side, nothing will be accomplished without provider buy-in. Therefore we must first work on incentivizing providers to join in our effort.</p> 

				<p>Utilizing our blockchain smart contract and a new cryptocurrency called Transparium, SeeThru has developed an ecosystem wherein:</p>

				<p>1. Patients find the care they need, when and where they need it - all at an affordable price.</p>

				<p>2. Providers get paid immediately for their services, upon completing the visit and providing the updated health record.
				NOTE: Given the current payment structure for most providers/clinics, we acknowledge that this will first be applicable only for collecting co-pays, co-insurance, and direct payments. This will be our wedge into the market. Eventually through rapid adoption by providers and patients, we can change the way Americans think about healthcare “coverage” and how they pay for care. We estimate that within two years, the transparent marketplace will enable market forces, driving down direct-pay prices, and empower patient-consumers to shop worldwide for the highest quality care within their financial ability.</p>
				
				<p>3. Patients and providers will have a shared and interoperable health record. This means your medical history and treatment information is not locked behind a certain office or health system. As a patient, you will now be free to choose your providers based on important criteria like rating and price, instead of “network.”</p>

				<p>4. In an effort to build a marketplace for value-based purchasing, patients will have the ability to rate their experience and provide data on their clinical outcomes.</p> 

				<p>5. Patients can establish a Health Savings Account (HSA) with SeeThru and allow their pre-tax money to appreciate over time in Transparium, thereby securing greater healthcare fund when needed.</p>

				<p>6. Providers can choose to leave their payments in Transparium with the hopes that it will appreciate over time, thereby passively growing their income. Furthermore, by simplifying payment processing, providers will no longer have to was 15% of their annual revenue on collections.</p>

				<p>7. Payors will serve patients with catastrophic coverage, but will otherwise be irrelevant within healthcare. 

				<p>We would be remiss if we did not mention our true civic beliefs:</p>
				<p>A. There should be a universal or single-payer healthcare system.</p>
				<p>B. We have a moral imperative as a society to take care of those truly less fortunate in the form of a safety net.</p> 
				<p>C. Neither of the above should be designed, maintained, or administered by private corporations. Both A and B are the sole responsibility of the Federal U.S. Government.</p> 
				<p>D. To be clear, we don’t believe that we will see these developments in the U.S. anytime soon.</p> 

				<p>That said, within a utopian American healthcare system, there will be room for private direct-pay options. Therefore, a transparent marketplace for healthcare services will always be necessary.</p> 

				<p>We are confident that in this evolving world, the SeeThru ecosystem will always be relevant and Transparium will have increasing value over time.</p>
			</div>
		</div>

		<br>
		<br>
		<br>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<h3 class="blog-post-numb">Blog Post 1</h3> 	
			<h3 class="blog-date">Date: October 2, 2017</h3>
			<h4 class="blog-title">Title: Introducing SeeThru: The Problem</h4>
		</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3">
				<p>Imagine checking out at a clothing store or restaurant and the clerk saying, “we’ll submit this, see what’s covered, and then send you a bill for any balance.” That’s absurd! But, in U.S. healthcare we accept this practice everyday. Both patients and providers have become complacent in their responsibility for the cost of care. Healthcare is the only consumer experience where we “complete” a transaction NOT knowing how much we owe - and for providers, how much we will get paid - and on what timeline.</p> 


				<p>Sy Syms famously said: “An educated consumer is our best customer.” And, he was right! Today, we seldom make a decision  - be it what computer to buy, where to eat, or which route to drive - without first researching VALUE. The internet has allowed for true free market economics. We often choose things based on price, quality, and location. So, if we make every other decision in life as an educated consumer, why should our HEALTH be any different?</p>

				<p>Think about your Amazon shopping experience: Most people first enter their search terms, then check off Prime (if applicable), next  filter for  and last sort by “Price: Low to High”. With this algorithm you will most likely find the greatest VALUE product (highest rated at lowest price) in the top left corner of your screen. This is exactly how it should work - three clicks or less and you have what you need. However, no such experience exists in healthcare.</p> 

				<p>Today, we have three independent groups - Patients, Payors (insurance) and Providers (broadly defined here as individuals, group practices, hospitals, and health systems) -  more or less working in silos for their own benefit, presumably trying to achieve what’s best for you - “good” care. However, incentives are misaligned. Patients want to stay healthy, receive quality care within a good experience, and not break the bank. Payors have one main goal: keep the money. Providers want to see patients lead healthy lives, but more importantly  - on the most basic level - want to get paid (like everyone else)for the hard work they do everyday. Clearly these parties cannot sustainably function in tandem.</p> 

				<p>Tune in next time to find out how we’re solving these massive problems. </p>
			</div><!-- end of col -->
		</div><!-- end of row -->

	</div><!-- end of container -->
</div><!-- end of blog body -->








