<div class="platform-body">
	<br>
	<br>
	<br>
	<br>
	<h1 class="platform-header">Our Platform</h1>

	<div class="container">
		<div class="platform-description-wrap">
			<h3 class="platform-description">The SeeThru Platform is the first blockchain ecosystem dedicated to healthcare: a new foundation for facilitating trusted healthcare payments, price transparency, and personal medical records.</h3>
		</div>
	</div>

	<div class="platform-breakdown-section">
		<div class="container">

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="box">
					<div class="platform-break-1">
						<div class="platform-header-wrap">
							<h1 class="platform-headings">SeeThru Transparency</h1>
						</div> 
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="box">
					<div class="platform-break-2">
						<div class="platform-icon-wrap">
						<span class="fa fa-check-square-o" aria-hidden="true" id= "plat-awesome-icons"></span>
						</div>
					</div>
				</div>
			</div>
<br>
<br>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="box">
					<div class="platform-break-1">
						<div class="platform-header-wrap">
						<h1 class="platform-headings">SeeThru Payments</h1> 
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="box">
					<div class="platform-break-2">
						<div class="platform-icon-wrap">
						<span class="fa fa-usd" aria-hidden="true" id= "plat-awesome-icons"></span>
						</div>
					</div>
				</div>
			</div>

<br>
<br>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="box">
					<div class="platform-break-1">
						<div class="platform-header-wrap">
							<h1 class="platform-headings">SeeThru</h1> 
							<h1 class="platform-headings">Data</h1>
					</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="box">
					<div class="platform-break-2">
						<div class="platform-icon-wrap">
						<span class="fa fa-database" aria-hidden="true" id= "plat-awesome-icons"></span>
						</div>
					</div>
				</div>
			</div>

<br>
<br>
<br>			



		</div>
	</div>
</div>
