<!-- ////////////////////////////////Intro To Home Page /////////////////////////////////////////-->
<!-- Carousel start -->
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>SEETHRU</h1>        
            <h3>SLIDE 1</h3>
        </hgroup>

      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>SEETHRU</h1>        
            <h3>SLIDE 2</h3>
        </hgroup>       

      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            <h1>SEETHRU</h1>        
            <h3>SLIDE 3</h3>
        </hgroup>
        
      </div>
    </div>
  </div> 
</div> <!-- carousel stops -->

<!-- ///////////////////////////////////////////////Information Section(s) Begins//////////////////////////////////////////////-->

<div class="info-section1">
  <div class="container">
    <div class="row">
      <h1 class="first-display"> Need A Really Really Really Great Header Going Here </h1>
      </div>
    </div>
  </div>

  <div class="info-section2">
  <div class="container">
    <div class="row">

          <div class="awesome-wrap">
            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="awesome-icon-group"> <!--Font Awesome Icon with fill in text up under -->
                <span class="fa fa-shield" aria-hidden="true" id= "awesome-icons"></span>
                </div>
                <p class="awesome-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
            </div>

            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="awesome-icon-group"> <!--Font Awesome Icon with fill in text up under -->
                <span class="fa fa-heartbeat" aria-hidden="true" id= "awesome-icons"></span>
                </div>
                <p class="awesome-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
            </div>

            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="awesome-icon-group"> <!--Font Awesome Icon with fill in text up under -->
                <span class="fa fa-btc" aria-hidden="true" id= "awesome-icons"></span>
                </div>
                <p class="awesome-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
            </div>

            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="awesome-icon-group"> <!--Font Awesome Icon with fill in text up under -->
                <span class="fa fa-line-chart" aria-hidden="true" id= "awesome-icons"></span>
                </div>
                <p class="awesome-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
            </div> <!-- end of last icon image -->
          </div><!-- end of awesome wrap -->

                              <div class="button-guard">
                                <a href="tel:2015759457"><button type="submit" class="btn btn-primary" id="circle">
                                 <h2 class="learn">Learn More!</h2>
                               </button></a>
                               <div class="underline">
                              </div><!-- end off button guard -->

      </div> <!-- end of row for information section -->                                 
    </div>
  </div><!-- end of info-secion 2 -->



  <div class="info-section3"> <!-- start of section 3 -->
    <div class="container">
      <div class="row">
        <h1 class="first-display"> What We Do or Who We Help</h1>
          <p class="awesome-text"> Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        </div>
      </div>
    </div> <!-- end of section 3 -->



    <div class="info-section4">
      <div class="container">
        <div class="row">

          <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="awesome-icon-group2">
              <span class="fa fa-users" aria -hidden="true">
          </div>
          <p class="awesome-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis.</p>
        </div>


        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="awesome-icon-group2">
              <span class="fa fa-hospital-o" aria -hidden="true">
          </div>
          <p class="awesome-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis.</p>
        </div>


        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="awesome-icon-group2">
              <span class="fa fa-user-md" aria -hidden="true">
          </div>
          <p class="awesome-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis.</p>
        </div>

      </div><!-- end of section 4 row -->
    </div><!-- end of section 4 container -->
  </div><!-- end of section 4 -->

      
<!-- ///////////////////////////////////////////////video placeholder Section Begins///////////////////////////////////////////-->

        
    <div class="info-section5">
      <div class="container">
        <div class="row">
          <div class="video-wrap">
            <h1 class="first-display"> Video Placeholder </h1>
          </div>
        </div>
      </div>
    </div><!-- end of video section -->


<!-- /////////////////////////////////////////////// White paper Section Begins///////////////////////////////////////////-->

    <div class="info-section6">
      <div class="container">
        <div class="row">
          <div class="seethru-objective">
            <h2 class="second-display"> LEARN MORE </h2>
            <p class="awesome-text">SEETHRU is ................ The greatest company in the world already and we're going to make billions and live happily ever after! (Goal Statement)</p>
          </div>

                 <div class="button-guard-2"> 
                  <a href="download"><button type="submit" class="btn btn-primary" id="wp-download">
                    <h3 class="learn">Download our white paper</h3></button></a>
                  </div>

        </div>
      </div>
    </div><!-- end of white paper -->
  

<!-- /////////////////////////////////////////////// closing/footer Section Begins///////////////////////////////////////////-->


    <div class="closing-section">
      <div class="container">
        <div class="row">

          <div class="col-md-4 col-lg-4 col-sm-4">
            <ul class="foots">
              <li class="foot-notes">FAQs</li>
              <li class="foot-notes">Terms & Conditions</li>
              <li class="foot-notes">Private Policy</li>
            </ul>
          </div>

            <div class="col-md-4 col-lg-4 col-sm-4">
            <ul class="foots">
              <li class="foot-notes">News</li>
              <li class="foot-notes">Careers</li>
              <li class="foot-notes">Contact Us</li>
            </ul>
          </div>

          <div class="col-md-4 col-lg-4 col-sm-4">
            <ul class="foots">
              <li class="foot-notes">Slack</li>
              <li class="foot-notes">Bitcoin</li>
              <li class="foot-notes">Instagram</li>
              <li class="foot-notes">Facebook</li>
              <li class="foot-notes">Telegram</li>
              <li class="foot-notes">Twitter</li>
            </ul>
          </div>

        </div>
      </div>
    </div>