<!-- ////////////////////////////////Intro To Home Page /////////////////////////////////////////-->
<!-- Carousel start -->
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>SEETHRU</h1>        
            <h3>Value</h3>
        </hgroup>

      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>SEETHRU</h1>        
            <h3>Transparency</h3>
        </hgroup>       

      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            <h1>SEETHRU</h1>        
            <h3>Marketplace</h3>
        </hgroup>
        
      </div>
    </div>
  </div> 
</div> <!-- carousel stops -->

<!-- ///////////////////////////////////////////////Information Section(s) Begins//////////////////////////////////////////////-->

<div class="info-section1">
  <div class="container">
    <div class="row">
  <h3 class="first-display">A blockchain ecosystem for healthcare payments, price transparency, and personal medical records</h3>
    </div>
  </div>
</div>

  <div class="info-section2">
  <div class="container">
    <div class="row">

          <div class="awesome-wrap">
            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="awesome-icon-group"> <!--Font Awesome Icon with fill in text up under -->
                <span class="fa fa-list-ul" aria-hidden="true" id= "awesome-icons"></span>
                </div>
                <p class="awesome-text"> Search, discover, and pay for transparent healthcare prices.</p>
            </div>

            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="awesome-icon-group"> <!--Font Awesome Icon with fill in text up under -->
                <span class="fa fa-credit-card" aria-hidden="true" id= "awesome-icons"></span>
                </div>
                <p class="awesome-text">Process guaranteed payments immediately</p>
            </div>

            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="awesome-icon-group"> <!--Font Awesome Icon with fill in text up under -->
                <span class="fa fa-database" aria-hidden="true" id= "awesome-icons"></span>
                </div>
                <p class="awesome-text">Own your personal health records and share across providers</p>
            </div>

            <div class="col-sm-4 col-md-3 col-lg-3">
              <div class="awesome-icon-group"> <!--Font Awesome Icon with fill in text up under -->
                <span class="fa fa-link" aria-hidden="true" id= "awesome-icons"></span>
                </div>
                <p class="awesome-text">Always accessible and always secure</p>
            </div> <!-- end of last icon image -->
          </div><!-- end of awesome wrap -->
        </div> <!-- end of row for information section -->

                              <div class="button-guard">
                                <a href="tel:9147196113"><button type="submit" class="btn btn-primary" id="circle">
                                 <h5 class="learn">Click here to try out our platform</h5>
                                 <div class="underline2"></div>
                                 <h3 class="learn">Ask Adi!</h3>

                               </button></a>
                             </div><!-- end off button guard -->
                               <div class="underline"></div>
                              
    </div>
  </div><!-- end of info-secion 2 -->



  <div class="info-section3"> <!-- start of section 3 -->
    <div class="container">
      <div class="row">
        <h1 class="first-display"> Our Partners</h1>
        </div>
      </div>
    </div> <!-- end of section 3 -->



    <div class="info-section4">
      <div class="container">
        <div class="row">

          <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="awesome-icon-group2">
              <span class="fa fa-heartbeat" aria -hidden="true">
          </div>
          <h2 class="awesome-partner-header">Patients</h2>
          <p class="awesome-text">Instantly find affordable healthcare services. Prioritize price and quality transparency. Own your health records.</p>
        </div>


        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="awesome-icon-group2">
              <span class="fa fa-user-md" aria -hidden="true">
          </div>
          <h2 class="awesome-partner-header">Providers</h2>
          <p class="awesome-text">Process payments immediately at lower cost. Guarantee full out of pocket payments. Access universal patient records.</p>
        </div>


        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="awesome-icon-group2">
              <span class="fa fa-users" aria -hidden="true">
          </div>
          <h2 class="awesome-partner-header">Employers</h2>
          <p class="awesome-text">Build a health benefits plan with the SeeThru HSA and transparent marketplace. Save money for your organization, employers, and society while improving access to high quality care. </p>
        </div>

      </div><!-- end of section 4 row -->
    </div><!-- end of section 4 container -->
  </div><!-- end of section 4 -->

      
<!-- ///////////////////////////////////////////////video placeholder Section Begins///////////////////////////////////////////-->

        
    <div class="info-section5">
      <div class="container">
        <div class="row">
          <div class="video-wrap">
            <p class="third-display">The SeeThru platform is a decentralized ecosystem designed to minimize the role of intermediaries in healthcare services and return lost value to patients and providers. The main thesis is that healthcare today is unsustainable — the system is designed in favor of the middlemen who extract fees from services that should be commoditized. By creating an open blockchain network that can directly connect patients and providers, insurance and billing companies can no longer play gatekeeper. SeeThru is aiming for cost savings, transparency, and more control over first party data. </p>
          </div>
        </div>
      </div>
    </div><!-- end of video section -->


<!-- /////////////////////////////////////////////// White paper Section Begins///////////////////////////////////////////-->

    <div class="info-section6">
      <div class="container">
        <div class="row">
          <div class="seethru-objective">
            <h2 class="second-display"> LEARN MORE </h2>
            <p class="awesome-text">SeeThru is changing the way healthcare is delivered around the world by empowering the patients and providers through free market economics!</p>
          </div>

                 <div class="button-guard-2"> 
                    <h3 class="learn">White Paper</h3> 
                    <h3 class="learn">December 2017 Release</h3>
                  </div>

        </div>
      </div>
    </div><!-- end of white paper -->
  

<!-- /////////////////////////////////////////////// closing/footer Section Begins///////////////////////////////////////////-->


    <div class="closing-section">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <ul class="foots">
              <li class="foot-notes"><%= link_to "Telegram" ,"https://t.me/seethruhealth", :target => "_blank" %>  </li> 
            </ul>
          </div>
        </div>
      </div>
    </div>

