<div class="solution-body">
<br>
<br>
<br>
<br>
<h1 class="solution-header">SEETHRU Solutions</h1>

<div class="container">
		<div class="soulution-description-wrap">
			<h3 class="solution-description">Americans pay too much for healthcare and don’t get enough from the system. On average, we are spending $10,000 per person annually. In the last 10 years out-of-pocket spending alone has risen over 230%. Today in the U.S., patient out-of-pocket spending -  this is additional money to costs covered by insurance - totals nearly $500 billion and is expected to reach $608 billion by 2019. Medical expenses is the number one reason why Americans file for personal bankruptcy. </h3>
		</div>
	</div>

	<div class="solution-breakdown-section">
		<div class="container">

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="box">
					<div class="solution-break-1">
						<div class="solution-header-wrap">
							<h3 class="solution-headings">On the other side of the coin, providers are only collecting 35-40% of billed services and according to McKinsey & Company, revenue cycle inefficiencies accounted for 15% of the $3.5 trillion national healthcare spend last year. Simply put, patients are emptying their bank accounts to pay for healthcare they are not receiving and doctors are not getting fully compensated for the care they are providing.</h3>
						</div> 
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="box">
					<div class="solution-break-2">
						<div class="solution-icon-wrap">
							<%= image_tag "solution1.png", class: "solution-image" %>			
						</div>
					</div>
				</div>
			</div>
<br>
<br>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="box">
					<div class="solution-break-1">
						<div class="solution-header-wrap">
						<h3 class="solution-headings">The SeeThru platform offers a technology enabled free market approach to solving this issue in totality.  SeeThru is a blockchain ecosystem  that is changing the world of healthcare payments, price transparency, and personal medical records. The solution increases patient health savings and grows provider revenue, while driving down the cost of care, through our cryptocurrency, Transparium.</h3> 
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="box">
					<div class="solution-break-2">
						<div class="solution-icon-wrap">
						<%= image_tag "solution5.png", class: "solution-image" %>
						</div>
					</div>
				</div>
			</div>

<br>
<br>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="box">
					<div class="solution-break-1">
						<div class="solution-header-wrap">
						<h3 class="solution-headings">SeeThru brings patients the sorely needed value-based consumer experience found in every other industry. This ecosystem has global implications and aims to democratize healthcare around the world. </h3> 
					</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="box">
					<div class="solution-break-2">
						<div class="solution-icon-wrap">
						<%= image_tag "solution2.png", class: "solution-image" %>
						</div>
					</div>
				</div>
			</div>

<br>
		
		</div>
	</div>