
.team-body{
	background-color: white;
	height: auto;
}


.pull-left {
    height: 200px !important;
    border-radius: 25px;
    margin-right: 30px;
    margin-bottom: 10px;
}



.about-header{
	
		color: #01579B;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 2.4px;
    text-align: center;
    margin: 0 0 22px;
    
	
}

.team-name-header{
	font-family: sans-serif;
	font-weight: bold;
	color: #00AEED;
}

.team-bio-para{
	font-weight: 500;
	margin-bottom: 45px;
	text-indent: 0px !important;
}

.team-bio-para-bob{
	font-weight: 500;
	margin-bottom: 45px;
	text-indent: 0px !important;
}


.underline3{
	width: 100%;
	height:1px;
  border: solid #00AEED;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
}

.linked_img{
	height: 30px;
}



