.blog-header{
	color: #01579B;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 2.4px;
    text-align: center;
    margin: 0 0 22px;
    text-transform: uppercase;
}

p{
	font-size: 20px;
	text-indent: 30px;

}

.blog-title{
	text-align: center;
  margin-bottom: 50px;
  font-size: x-large;
}


.blog-date{
	font-size: 20px;
}