// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 65vh;
}
.fade-carousel .carousel-inner .item {
    height: 65vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: white;
    border-color: white;
    opacity: .5;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: white;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .3;
     
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: white;
    border-color: white;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 65vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(https://static.pexels.com/photos/347134/pexels-photo-347134.jpeg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(https://static.pexels.com/photos/301632/pexels-photo-301632.jpeg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://static.pexels.com/photos/325521/pexels-photo-325521.jpeg);
}

/*-------------------How to put ruby urls in background images---------------------------------------------------

<%= image_tag "http://www.example.com/library/example.jpeg" %>

That'll work, since it's really just gonna convert to this:

<img src="http://www.example.com/library/example.jpeg">

So you could use either, they're the same thing.
------------------------------------------------------------------------------------------------------------------*/

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}


/*--------------------------------------------------- Information Section --------------------------------------------------*/

.info-section1{
    margin-bottom: 5em;
    margin-top: 2em;
}


.first-display{
	text-align: center;
	font-size: 2em;
	color: #004681;
	margin-top: 1em;
}

/*--------------------------------------------------- Information Section 2 --------------------------------------------------*/

.info-section2{
  height: auto;
}

.awesome-icon-group{
  font-size: 60px;
  color: #00AEED;
  text-align: center;

}

.awesome-wrap{
  
}

.awesome-text{
  font-size: 20px;
  color: black;
  text-align: center;
}


.awesome-icon-group2{
  font-size: 100px;
  color: #00AEED;
  text-align: center;
  margin-top: 1em;

}

.button-guard{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}



#circle{
    margin-left: auto;  
    margin-right: auto;
    background-color: #004681;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

#circle :hover{
    background-color: #00AEED;

}

.underline{
  width: 15%;
  height:1px;
  border: solid #00AEED;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}

.underline2{
  width: 50%;
  height:1px;
  border: solid #00AEED;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}


.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  }


/*--------------------------------------------------- Information Section 3 --------------------------------------------------*/

.info-section3{
    margin-top: 3em;
  
}


.awesome-icon-group2{
  font-size: 100px;
  color: #00AEED;
  text-align: center;
  margin-top: 0em !important;
  }

  .awesome-partner-header{
    color: #004681;
    text-align: center;
  }

/*-------------------------------------------------------- Video Section  --------------------------------------------------*/

.info-section5{
  height: auto;
  background-color: #004681
}


.third-display{
    text-align: center;
    color: white;
    margin-top: 2em;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 40px;
}

.video-wrap{
  height: auto;
}

/*-------------------------------------------------------- White Paper Section  ------------------------------------------------*/

.info-section6{
  margin-bottom: 5em;
}

.second-display{
  text-align: center;
  color: #004681;
  margin-top: 2em;
}

.button-guard-2{
  text-align: center;
  margin-top: 45px;
  margin-bottom: 30px;

}

#wp-download{
    background-color: #004681;
    width: 350px;
    height: 80px;
    border-radius: 10px;
    text-align: center;

}

/*-------------------------------------------------------- Closing Section  ------------------------------------------------*/



.closing-section{
  width: 100%;
  height: 100px;
  background-color: #BDBDBD;
}

.foot-notes{
  color: white;
  font-size: 100%;
  font-family: sans-serif;

}

#tele-foot{
  color: white;
}

.foots{
  margin-top: 20px;

  
}


/*-------------------------------------------------------- Modal Section  ------------------------------------------------*/

.modal-content{
  height: 420px !important;
}

.modal-title{
  text-align: center;
  color: #1A237E;
}


.modal-phrase{
  text-align: center;
  color: #4c4e4f;
  font-size: 18px;
}

.modal-content{
  height: 265px;
}


.panel-foot{
  height: 150px;
  background-color: #FAFAFA;
}

#movement{
  text-align: center;
  color: #004681;

}

#form-group-modal{
  width: 100%;
}
